/* header */
header {
  width: 1440px;
  margin: auto;
  padding: 38px 130px;
  background-color: #2a9d8f;
}
.logo_link {
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-right: 697px;
  vertical-align: middle;
}
.logo_image {
  width: 100%;
  height: 100%;
}
.header_nav {
  display: inline-block;
  vertical-align: middle;
}
li {
  display: inline-block;
}
.middle_li {
  margin-inline: 75px; /* შევამცირე ძირს მიგდებდა */
}
.pages {
  font-family: "Nerko One", cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.005em;
  color: #ffffff;
}
/* section */
.main_section {
  width: 1440px;
  margin: auto;
  padding: 80px 130px;
  background-color: #d4f3f0;
}
.cover_picture {
  vertical-align: top;
  margin-right: 116px;
}
.section2 {
  width: 460px;
  display: inline-block;
  vertical-align: top;
}
.section_h3 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.005em;
  margin-bottom: 32px;
  color: #06686e;
}
.section_p {
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 275;
  line-height: 27px;
  letter-spacing: 0.005em;
  margin-bottom: 60px;
  color: #06686e;
}
button {
  font-family: "Kanit", sans-serif;
  border: none;
  width: 112px;
  height: 46px;
  background-color: #2a9d8f;
  font-size: 16px;
  font-weight: 275;
  line-height: 24px;
  color: #ffffff;
}
/* article */
article {
  width: 1180px;
  margin: 80px auto;
}
.article_h2 {
  font-family: "Kanit", sans-serif;
  color: #06686e;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.005em;
  text-align: center;
  margin-bottom: 32px;
}
.article_p {
  font-family: "Kanit", sans-serif;
  color: #06686e;
  font-size: 24px;
  font-weight: 275;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-align: justify;
}
/* footer */
footer {
  width: 1440px;
  margin: auto;
  background-color: #2a9d8f;
  padding: 38px 636px;
}
.footer_h3 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.icon_link {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.icon_img {
  width: 100%;
  height: 100%;
}
.instagram_margin {
  margin-inline: 28px;
}
.x_margin {
  margin-right: 28px;
}
